.loginRegisterButton, .loginRegisterButton > a {
    color: white;
}

.fa-user-circle {
    // font-size: 2rem;
    color: white;
    font-weight: 100;
    
}



.dropdown-items {
    padding: .25rem 1.5rem;
}
